@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f2f2f2;
}

.header .navTheme{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.botao{
    border: none;
    background: transparent;
    font-size: 1.5em;
    cursor: pointer;
}

.navTheme h2{
    text-decoration: underline;
    cursor: context-menu;
}

.areaNotas{
    background: #ffffff;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}

.areaNotas p {
    text-align: justify;
    text-indent: 20px;
    font-weight: 500;
    cursor: context-menu;
}

.inputs{
    padding: 5px;
    border-radius: 20px;
    border: 2px solid #e4e4e4;
    font: 700;
    outline: none;
}

.adicionar{
    padding: 10px;
    border: none;
    background: #909090;
    box-shadow: inset 2px 2px 5px #e4e4e4,
    inset -2px -2px 5px #606060;
    border-radius: 10px;
    cursor: pointer;
}
.adicionar h4{
    font-weight: 400;
    color: #e4e4e4;
}
.resultado{
    background-image: linear-gradient(to left, #ffffff, #f2f2f2);
    border-radius: 20px;
}